<!-- Error404.razor -->
<h3>_404</h3>
@using Microsoft.AspNetCore.Components
@using portfolio_blazor_v2.Client.Pages
@using MudBlazor
@inject NavigationManager Navigator

<MudPaper Class="d-flex flex-column align-center justify-center" Height="MaxHeight.Medium" Width="100%">
    <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-10 text-center">
        <MudText Typo="Typo.h2" Color="Color.Error">404 - Page not found</MudText>
        <MudText Typo="Typo.subtitle1">The page you're looking for does not exist.</MudText>
        <MudText Typo="Typo.subtitle1">Press here to return home</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@GoHome">Go Home</MudButton>
    </MudContainer>
</MudPaper>

@code {
    void GoHome() => Navigator.NavigateTo("/");
}